.DS_Store
node_modules
cdk.out
lerna-debug.log
.build
.build-web
packages/geoprocessing/dist
packages/geoprocessing/docs/api
packages/geoprocessing/docs/storybook
packages/geoprocessing/data/testing/output
.workspace.env
packages/example-project/
report.*
test-projects