.gp-toolbar-root {
  display: flex;
  position: relative;
}

.gp-toolbar h2 {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(116, 116, 116);
  margin: 0px;
  font-weight: 400;
}

.gp-toolbar-gutter {
  padding: 0px 16px 0px 16px;
}

.gp-toolbar-regular {
  min-height: 42px;
}

.gp-toolbar-dense {
  min-height: 30px;
}