name: "Test Docs"
on: 
- pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check node version
        run: node -v
      - name: Upgrade npm
        run: npm install -g npm@8.5
      - name: Check npm version
        run: npm -v
      - name: Install modules
        run: npm install
      - name: Build docs
        run: npm run build-docs 